@model PriceTracker.Models.Product

@{
    ViewData["Title"] = "New Product";
}


<h1>Create Product</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="NewProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Productname" class="control-label col-form-label-sm"></label>
                <input asp-for="Productname" class="form-control form-control-sm" />
                <span asp-validation-for="Productname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductLink" class="control-label col-form-label-sm"></label>
                <input asp-for="ProductLink" class="form-control form-control-sm" />
                <span asp-validation-for="ProductLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-success btn-sm" />
                <a asp-action="Index">Back To List</a>
            </div>
        </form>
    </div>
</div>



